In [1]:
import pandas as pd
import ssl
%pip install lxml

Requirement already satisfied: lxml in c:\users\william xu\anaconda3\lib\site-packages (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
ssl._create_default_https_context=ssl._create_unverified_context

In [3]:
url = 'https://en.wikipedia.org/wiki/Los_Angeles'

In [4]:
all_tables = pd.read_html(url) # returns a listy of all table tags avaliable in this url

In [8]:
len(all_tables)

28

In [10]:
first_table = all_tables[0] # nope

In [11]:
climate_table = pd.read_html(url, match="Climate data for Los Angeles") # read page to find table with maching phrase

In [14]:
len(climate_table)

2

In [13]:
climate_table[0]

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present  \
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Month
0                                 Record high °F (°C)
1                                Mean maximum °F (°C)
2                                Average high °F (°C)
3                                  Daily mean °F (°C)
4                                 Average low °F (°C)
5                                Mean minimum °F (°C)
6                                  Record low °F (°C)
7                        Average rainfall inches (mm)
8                      Average rainy days (≥ 0.01 in)
9                         Mean monthly sunshine hours
10                          Percent possible sunshine
11    Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Jan
0                                            95(35)
1                                        83.0(28.3)
2                                        68.0(20.0)
3                                        58.4(14.7)
4                                         48.9(9.4)
5                                         41.4(5.2)
6                                            28(−2)
7                                          3.29(84)
8                                               6.1
9                                             225.3
10                                               71
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Feb
0                                            95(35)
1                                        82.8(28.2)
2                                        68.0(20.0)
3                                        59.0(15.0)
4                                        50.0(10.0)
5                                         42.9(6.1)
6                                            28(−2)
7                                          3.64(92)
8                                               6.3
9                                             222.5
10                                               72
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Mar
0                                            99(37)
1                                        85.8(29.9)
2                                        69.9(21.1)
3                                        61.1(16.2)
4                                        52.4(11.3)
5                                         45.4(7.4)
6                                            31(−1)
7                                          2.23(57)
8                                               5.1
9                                             267.0
10                                               72
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Apr
0                                           106(41)
1                                        90.1(32.3)
2                                        72.4(22.4)
3                                        63.6(17.6)
4                                        54.8(12.7)
5                                         48.9(9.4)
6                                             36(2)
7                                          0.69(18)
8                                               2.8
9                                             303.5
10                                               78
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                May
0                                           103(39)
1                                        88.9(31.6)
2                                        73.7(23.2)
3                                        65.9(18.8)
4                                        58.1(14.5)
5                                        53.5(11.9)
6                                             40(4)
7                                         0.32(8.1)
8                                               1.9
9                                             276.2
10                                               64
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Jun
0                                           112(44)
1                                        89.1(31.7)
2                                        77.2(25.1)
3                                        69.3(20.7)
4                                        61.4(16.3)
5                                        57.4(14.1)
6                                             46(8)
7                                         0.09(2.3)
8                                               0.5
9                                             275.8
10                                               64
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Jul
0                                           109(43)
1                                        93.5(34.2)
2                                        82.0(27.8)
3                                        73.3(22.9)
4                                        64.7(18.2)
5                                        61.1(16.2)
6                                             49(9)
7                                        0.02(0.51)
8                                               0.4
9                                             364.1
10                                               83
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Aug
0                                           106(41)
1                                        95.2(35.1)
2                                        84.0(28.9)
3                                        74.7(23.7)
4                                        65.4(18.6)
5                                        61.7(16.5)
6                                             49(9)
7                                        0.00(0.00)
8                                               0.1
9                                             349.5
10                                               84
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Sep
0                                           113(45)
1                                        99.4(37.4)
2                                        83.0(28.3)
3                                        73.6(23.1)
4                                        64.2(17.9)
5                                        59.1(15.1)
6                                             44(7)
7                                         0.13(3.3)
8                                               0.4
9                                             278.5
10                                               75
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Oct
0                                           108(42)
1                                        95.7(35.4)
2                                        78.6(25.9)
3                                        69.3(20.7)
4                                        59.9(15.5)
5                                        53.7(12.1)
6                                             40(4)
7                                          0.58(15)
8                                               2.2
9                                             255.1
10                                               73
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Nov
0                                           100(38)
1                                        88.9(31.6)
2                                        72.9(22.7)
3                                        63.0(17.2)
4                                        53.1(11.7)
5                                         45.4(7.4)
6                                             34(1)
7                                          0.78(20)
8                                               2.8
9                                             217.3
10                                               70
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

                                                     \
                                                Dec
0                                            92(33)
1                                        81.0(27.2)
2                                        67.4(19.7)
3                                        57.8(14.3)
4                                         48.2(9.0)
5                                         40.5(4.7)
6                                            30(−1)
7                                          2.48(63)
8                                               5.5
9                                             219.4
10                                               71
11  Source: NOAA (sun 1961–1977)[100][83][101][102]


                                               Year
0                                           113(45)
1                                       101.5(38.6)
2                                        74.8(23.8)
3                                        65.8(18.8)
4                                        56.8(13.8)
5                                         39.2(4.0)
6                                            28(−2)
7                                        14.25(362)
8                                              34.1
9                                            3254.2
10                                               73
11  Source: NOAA (sun 1961–1977)[100][83][101][102]

In [12]:
climate_table[1]

   vteClimate data for Los Angeles (LAX), 1991–2020 normals, extremes 1944–present  \
                                                                             Month
0                                 Record high °F (°C)
1                                Mean maximum °F (°C)
2                                Average high °F (°C)
3                                  Daily mean °F (°C)
4                                 Average low °F (°C)
5                                Mean minimum °F (°C)
6                                  Record low °F (°C)
7                        Average rainfall inches (mm)
8                      Average rainy days (≥ 0.01 in)
9                       Average relative humidity (%)
10                          Average dew point °F (°C)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Jan
0                                              91(33)
1                                          81.2(27.3)
2                                          66.3(19.1)
3                                          57.9(14.4)
4                                           49.4(9.7)
5                                           41.8(5.4)
6                                              27(−3)
7                                            2.86(73)
8                                                 6.1
9                                                63.4
10                                          41.4(5.2)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Feb
0                                              92(33)
1                                          80.1(26.7)
2                                          65.6(18.7)
3                                          57.9(14.4)
4                                          50.1(10.1)
5                                           42.9(6.1)
6                                               34(1)
7                                            2.99(76)
8                                                 6.3
9                                                67.9
10                                          44.4(6.9)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Mar
0                                              95(35)
1                                          80.6(27.0)
2                                          66.1(18.9)
3                                          59.1(15.1)
4                                          52.2(11.2)
5                                           45.3(7.4)
6                                               35(2)
7                                            1.73(44)
8                                                 5.6
9                                                70.5
10                                          46.6(8.1)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Apr
0                                             102(39)
1                                          83.1(28.4)
2                                          68.1(20.1)
3                                          61.1(16.2)
4                                          54.2(12.3)
5                                           48.0(8.9)
6                                               42(6)
7                                            0.60(15)
8                                                 2.6
9                                                71.0
10                                          49.1(9.5)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  May
0                                              97(36)
1                                          80.6(27.0)
2                                          69.5(20.8)
3                                          63.6(17.6)
4                                          57.6(14.2)
5                                          52.7(11.5)
6                                               45(7)
7                                           0.28(7.1)
8                                                 1.7
9                                                74.0
10                                         52.7(11.5)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Jun
0                                             104(40)
1                                          79.8(26.6)
2                                          72.0(22.2)
3                                          66.4(19.1)
4                                          60.9(16.1)
5                                          56.7(13.7)
6                                               48(9)
7                                           0.08(2.0)
8                                                 0.5
9                                                75.9
10                                         56.5(13.6)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Jul
0                                              97(36)
1                                          83.7(28.7)
2                                          75.1(23.9)
3                                          69.6(20.9)
4                                          64.0(17.8)
5                                          60.2(15.7)
6                                              52(11)
7                                           0.04(1.0)
8                                                 0.5
9                                                76.6
10                                         60.1(15.6)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Aug
0                                              98(37)
1                                          86.0(30.0)
2                                          76.7(24.8)
3                                          70.7(21.5)
4                                          64.8(18.2)
5                                          61.0(16.1)
6                                              51(11)
7                                          0.00(0.00)
8                                                 0.1
9                                                76.6
10                                         61.2(16.2)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Sep
0                                             110(43)
1                                          90.7(32.6)
2                                          76.5(24.7)
3                                          70.1(21.2)
4                                          63.7(17.6)
5                                          58.7(14.8)
6                                               47(8)
7                                           0.11(2.8)
8                                                 0.5
9                                                74.2
10                                         59.2(15.1)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Oct
0                                             106(41)
1                                          90.9(32.7)
2                                          74.4(23.6)
3                                          67.1(19.5)
4                                          59.8(15.4)
5                                          53.2(11.8)
6                                               43(6)
7                                            0.49(12)
8                                                 2.0
9                                                70.5
10                                         54.1(12.3)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Nov
0                                             101(38)
1                                          87.2(30.7)
2                                          70.9(21.6)
3                                          62.3(16.8)
4                                          53.7(12.1)
5                                           46.1(7.8)
6                                               38(3)
7                                            0.82(21)
8                                                 3.2
9                                                65.5
10                                          46.8(8.2)
11  Source: NOAA (relative humidity and dew point ...

                                                       \
                                                  Dec
0                                              94(34)
1                                          78.8(26.0)
2                                          66.1(18.9)
3                                          57.6(14.2)
4                                           49.1(9.5)
5                                           41.1(5.1)
6                                               32(0)
7                                            2.23(57)
8                                                 5.4
9                                                62.9
10                                          41.4(5.2)
11  Source: NOAA (relative humidity and dew point ...


                                                 Year
0                                             110(43)
1                                          95.5(35.3)
2                                          70.6(21.4)
3                                          63.6(17.6)
4                                          56.6(13.7)
5                                           39.4(4.1)
6                                              27(−3)
7                                          12.23(311)
8                                                34.5
9                                                70.8
10                                         51.1(10.6)
11  Source: NOAA (relative humidity and dew point ...

In [16]:
usc_climate = climate_table[0]

In [17]:
usc_climate.head(0)

Empty DataFrame
Columns: [(.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Month), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Jan), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Feb), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Mar), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Apr), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, May), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Jun), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Jul), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Aug), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Sep), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Oct), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Nov), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Dec), (.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Los Angeles (USC, Downtown), 1991–2020 normals, extremes 1877–present, Year)]
Index: []

In [18]:
usc_climate.columns = ["Month", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Year"]

In [19]:
usc_climate

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,Record high °F (°C),95(35),95(35),99(37),106(41),103(39),112(44),109(43),106(41),113(45),108(42),100(38),92(33),113(45)
1,Mean maximum °F (°C),83.0(28.3),82.8(28.2),85.8(29.9),90.1(32.3),88.9(31.6),89.1(31.7),93.5(34.2),95.2(35.1),99.4(37.4),95.7(35.4),88.9(31.6),81.0(27.2),101.5(38.6)
2,Average high °F (°C),68.0(20.0),68.0(20.0),69.9(21.1),72.4(22.4),73.7(23.2),77.2(25.1),82.0(27.8),84.0(28.9),83.0(28.3),78.6(25.9),72.9(22.7),67.4(19.7),74.8(23.8)
3,Daily mean °F (°C),58.4(14.7),59.0(15.0),61.1(16.2),63.6(17.6),65.9(18.8),69.3(20.7),73.3(22.9),74.7(23.7),73.6(23.1),69.3(20.7),63.0(17.2),57.8(14.3),65.8(18.8)
4,Average low °F (°C),48.9(9.4),50.0(10.0),52.4(11.3),54.8(12.7),58.1(14.5),61.4(16.3),64.7(18.2),65.4(18.6),64.2(17.9),59.9(15.5),53.1(11.7),48.2(9.0),56.8(13.8)
5,Mean minimum °F (°C),41.4(5.2),42.9(6.1),45.4(7.4),48.9(9.4),53.5(11.9),57.4(14.1),61.1(16.2),61.7(16.5),59.1(15.1),53.7(12.1),45.4(7.4),40.5(4.7),39.2(4.0)
6,Record low °F (°C),28(−2),28(−2),31(−1),36(2),40(4),46(8),49(9),49(9),44(7),40(4),34(1),30(−1),28(−2)
7,Average rainfall inches (mm),3.29(84),3.64(92),2.23(57),0.69(18),0.32(8.1),0.09(2.3),0.02(0.51),0.00(0.00),0.13(3.3),0.58(15),0.78(20),2.48(63),14.25(362)
8,Average rainy days (≥ 0.01 in),6.1,6.3,5.1,2.8,1.9,0.5,0.4,0.1,0.4,2.2,2.8,5.5,34.1
9,Mean monthly sunshine hours,225.3,222.5,267.0,303.5,276.2,275.8,364.1,349.5,278.5,255.1,217.3,219.4,3254.2
10,Percent possible sunshine,71,72,72,78,64,64,83,84,75,73,70,71,73
11,Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102],Source: NOAA (sun 1961–1977)[100][83][101][102]

Get Employers table

In [21]:
employees = pd.read_html(url, attrs={"class": "wikitable sortable"}) # get a list of table with matching attribute

In [27]:
len(employees)

1

In [28]:
employees[0]

  Largest non-government employers in Los Angeles County, August 2018[172]  \
                                                                      Rank
0                                                  1
1                                                  2
2                                                  3
3                                                  4
4                                                  5
5                                                  6
6                                                  7
7                                                  8
8                                                  9
9                                                 10


                                            Employer Employees
0                                  Kaiser Permanente     37468
1                  University of Southern California     21055
2                             Northrop Grumman Corp.     16600
3  Providence Health and Services Southern Califo...     15952
4                                       Target Corp.     15000
5           Ralphs/Food 4 Less (Kroger Co. Division)     14970
6                        Cedars-Sinai Medical Center     14903
7                                    Walt Disney Co.     13000
8                                   Allied Universal     12879
9                                      NBC Universal     12000

In [30]:
em_table = employees[0]

In [31]:
em_table.head(0)

Empty DataFrame
Columns: [(Largest non-government employers in Los Angeles County, August 2018[172], Rank), (Largest non-government employers in Los Angeles County, August 2018[172], Employer), (Largest non-government employers in Los Angeles County, August 2018[172], Employees)]
Index: []

In [32]:
em_table.columns = ["Rank", "Employer", "Employees"]

In [33]:
em_table

   Rank                                           Employer  Employees
0     1                                  Kaiser Permanente      37468
1     2                  University of Southern California      21055
2     3                             Northrop Grumman Corp.      16600
3     4  Providence Health and Services Southern Califo...      15952
4     5                                       Target Corp.      15000
5     6           Ralphs/Food 4 Less (Kroger Co. Division)      14970
6     7                        Cedars-Sinai Medical Center      14903
7     8                                    Walt Disney Co.      13000
8     9                                   Allied Universal      12879
9    10                                      NBC Universal      12000

In [34]:
em_table[em_table.Rank.isin([1,2,3,4,5])] # table with rank from 1-5

   Rank                                           Employer  Employees
0     1                                  Kaiser Permanente      37468
1     2                  University of Southern California      21055
2     3                             Northrop Grumman Corp.      16600
3     4  Providence Health and Services Southern Califo...      15952
4     5                                       Target Corp.      15000

In [35]:
em_table[em_table.Rank.isin([1,2,3,4,5])].Employees.sum()

106075

In [36]:
106075/3898747

0.027207459217025366