# Analyze 2021 LA county Accidents data (Daytime)

Credit to https://smoosavi.org/datasets/us_accidents

Moosavi, Sobhan, Mohammad Hossein Samavatian, Srinivasan Parthasarathy, and Rajiv Ramnath. “A Countrywide Traffic Accident Dataset.”, arXiv preprint arXiv:1906.05409 (2019).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2021_LA_Day_accidents.csv")

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-225056,2,08/09/2021 17:37,08/09/2021 20:05,33.916425,-118.269578,33.917889,-118.265243,0.268,Stationary traffic from S San Pedro St to E 12...,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-225279,2,09/12/2021 11:57,09/12/2021 13:22,34.112956,-118.482256,34.100885,-118.477917,0.870,Incident on I-405 SB near BEL AIR CREST RD Dri...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-226122,2,19/10/2021 08:38,19/10/2021 10:50,34.003725,-118.286382,34.003764,-118.282105,0.245,Slow traffic from S Vermont Ave (W Vernon Ave)...,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-226314,2,05/11/2021 13:20,05/11/2021 13:48,33.928495,-118.289676,33.928275,-118.286206,0.200,Stationary traffic from exit [7B] to I-105 E d...,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-226718,2,03/11/2021 08:07,03/11/2021 08:30,34.045710,-118.205286,34.048458,-118.211488,0.403,Slow traffic from N Evergreen Ave (E Cesar E C...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3224 entries, 0 to 3223
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3224 non-null   object
 1   Severity               3224 non-null   int64
 2   Start_Time             3224 non-null   object
 3   End_Time               3224 non-null   object
 4   Start_Lat              3224 non-null   float64
 5   Start_Lng              3224 non-null   float64
 6   End_Lat                3224 non-null   float64
 7   End_Lng                3224 non-null   float64
 8   Distance(mi)           3224 non-null   float64
 9   Description            3224 non-null   object
 10  Number                 1641 non-null   float64
 11  Side                   3224 non-null   object
 12  City                   3224 non-null   object
 13  County                 3224 non-null   object
 14  State                  3224 non-null   object
 15  Zipcode                3224 non-null   object
 16  Country                3224 non-null   object
 17  Timezone               3224 non-null   object
 18  Airport_Code           3224 non-null   object
 19  Weather_Timestamp      3224 non-null   object
 20  Temperature(F)         3185 non-null   float64
 21  Wind_Chill(F)          3108 non-null   float64
 22  Humidity(%)            3185 non-null   float64
 23  Pressure(in)           3185 non-null   float64
 24  Visibility(mi)         3224 non-null   float64
 25  Wind_Direction         3108 non-null   object
 26  Wind_Speed(mph)        3108 non-null   float64
 27  Precipitation(in)      3224 non-null   float64
 28  Weather_Condition      3223 non-null   object
 29  Amenity                3224 non-null   bool
 30  Bump                   3224 non-null   bool
 31  Crossing               3224 non-null   bool
 32  Give_Way               3224 non-null   bool
 33  Junction               3224 non-null   bool
 34  No_Exit                3224 non-null   bool
 35  Railway                3224 non-null   bool
 36  Roundabout             3224 non-null   bool
 37  Station                3224 non-null   bool
 38  Stop                   3224 non-null   bool
 39  Traffic_Calming        3224 non-null   bool
 40  Traffic_Signal         3224 non-null   bool
 41  Turning_Loop           3224 non-null   bool
 42  Sunrise_Sunset         3224 non-null   object
 43  Civil_Twilight         3224 non-null   object
 44  Nautical_Twilight      3224 non-null   object
 45  Astronomical_Twilight  3224 non-null   object
dtypes: bool(13), float64(13), int64(1), object(19)
memory usage: 872.2+ KB

In [5]:
df.duplicated().any()

False

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Number, Side, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 46 columns]

In [7]:
# Clean and generate some data that maybe use

In [8]:
df['clean_Start_Time'] = pd.to_datetime(df['Start_Time'], format = '%d/%m/%Y %H:%M', errors = 'coerce')

In [9]:
df['clean_End_Time'] = pd.to_datetime(df['End_Time'], format = '%d/%m/%Y %H:%M', errors = 'coerce')

In [10]:
df['Year'] = df['clean_Start_Time'].dt.year

In [11]:
df['Month'] = df['clean_Start_Time'].dt.month

In [12]:
df_aircondition = df[["Temperature(F)", "Pressure(in)", "Visibility(mi)", "Wind_Speed(mph)", "Humidity(%)"]].dropna(how='any')

### 1. How many car accidents happend in daytime in LA (2021)

In [13]:
len(df)

3224

In [14]:
df.Severity.value_counts() # different severity type (1-4)

2    3222
4       2
Name: Severity, dtype: int64

### 2. The markers near the location of the accident

In [15]:
df.Stop.value_counts() # whether a stop sign near where the accident happend

False    3106
True      118
Name: Stop, dtype: int64

In [16]:
df.Side.value_counts()

R    2485
L     739
Name: Side, dtype: int64

In [17]:
df.Month.value_counts() # where is the January Data?

12    666
11    496
10    372
9     360
8     334
7     328
6     307
4     146
5     138
3      73
2       4
Name: Month, dtype: int64

### 3. Driving conditions when the car accident happend

In [18]:
round(df["Distance(mi)"].mean(),2) # The avarage distance when the car accident happened

0.77

In [19]:
round(df["Distance(mi)"].max(),2)

12.99

In [36]:
round(df.groupby('Month')['Distance(mi)'].mean(),2) # the monthly average traffic distance caused by accidents

Month
2     1.03
3     0.83
4     0.59
5     0.81
6     0.99
7     0.99
8     0.78
9     0.72
10    0.58
11    0.59
12    0.84
Name: Distance(mi), dtype: float64

In [21]:
df_aircondition.agg(['min', 'max', 'mean']).round().astype(int).reset_index() 
# 4 weather conditions which may affect traffic accidents

,index,Temperature(F),Pressure(in),Visibility(mi),Wind_Speed(mph),Humidity(%)
0,min,42,29,0,0,6
1,max,92,30,10,26,100
2,mean,68,30,9,4,60

In [22]:
df["Weather_Condition"].dropna(how='any')

0             Fair
1       Light Rain
2             Fair
3             Haze
4              Fog
           ...
3219          Fair
3220        Cloudy
3221          Fair
3222          Fair
3223          Fair
Name: Weather_Condition, Length: 3223, dtype: object

In [23]:
pd.value_counts(df.Weather_Condition, normalize=True).head(10).round(4) * 100

Fair             69.22
Cloudy           10.02
Haze              8.66
Partly Cloudy     3.69
Mostly Cloudy     2.79
Light Rain        2.51
Fog               2.36
Heavy Rain        0.28
Rain              0.22
Heavy T-Storm     0.12
Name: Weather_Condition, dtype: float64

### 4. The duration wait time caused by car accidents

In [24]:
df['duration_time_hour'] = (df['clean_End_Time'] - df['clean_Start_Time']).dt.seconds/60/60

In [25]:
df['duration_time_hour'] = round(df['duration_time_hour']).astype(int)

In [26]:
df['duration_time_hour']

0       2
1       1
2       2
3       0
4       0
       ..
3219    2
3220    0
3221    2
3222    5
3223    2
Name: duration_time_hour, Length: 3224, dtype: int32

In [27]:
df.duration_time_hour.mean() # the average duration wait time because of car accidents

2.75

In [28]:
df.groupby('Month')['Distance(mi)'].mean() # the monthly average traffic distance caused by accidents

Month
2     1.025500
3     0.828726
4     0.588514
5     0.813964
6     0.988336
7     0.993351
8     0.781452
9     0.720981
10    0.584427
11    0.586685
12    0.844369
Name: Distance(mi), dtype: float64

### 5. Focus on I-10 W

In [29]:
df['Description'].astype(str)

0       Stationary traffic from S San Pedro St to E 12...
1       Incident on I-405 SB near BEL AIR CREST RD Dri...
2       Slow traffic from S Vermont Ave (W Vernon Ave)...
3       Stationary traffic from exit [7B] to I-105 E d...
4       Slow traffic from N Evergreen Ave (E Cesar E C...
                              ...
3219    Slow traffic from S Wilton Pl to W 111th St du...
3220    Slow traffic from Crenshaw Blvd (Stocker St) t...
3221    Accident on La Brea Ave (I-10) from Crenshaw B...
3222    Stationary traffic from Bergreen Pl to I-405 N...
3223    Incident on WESTCHESTER PL near W 12TH ST Driv...
Name: Description, Length: 3224, dtype: object

In [30]:
i10W_counts = df[df['Description'].str.contains('I-10 W')] # filter dataframe to only contain 'I-10 W' in Description column

In [31]:
i10W_counts.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,clean_Start_Time,clean_End_Time,Year,Month,duration_time_hour
18,A-244651,2,13/10/2021 07:15,13/10/2021 10:50,34.055571,-118.198100,34.055190,-118.211842,0.787,Stationary traffic from exit [19C] to I-10 W d...,...,False,Day,Day,Day,Day,2021-10-13 07:15:00,2021-10-13 10:50:00,2021,10,4
24,A-252155,2,23/10/2021 14:38,23/10/2021 16:52,34.059230,-118.184949,34.059368,-118.185151,0.015,Accident from I-10 W to Medford St.,...,False,Day,Day,Day,Day,2021-10-23 14:38:00,2021-10-23 16:52:00,2021,10,2
38,A-256229,2,30/10/2021 13:12,30/10/2021 17:02,34.034370,-118.350153,34.032301,-118.388671,2.210,Slow traffic on I-10 W - Santa Monica Fwy W fr...,...,False,Day,Day,Day,Day,2021-10-30 13:12:00,2021-10-30 17:02:00,2021,10,4
41,A-258324,2,25/04/2021 17:40,25/04/2021 19:28,34.032376,-118.222395,34.023922,-118.244706,1.405,Incident on I-10 WB near S ALAMEDA ST Drive wi...,...,False,Day,Day,Day,Day,2021-04-25 17:40:00,2021-04-25 19:28:00,2021,4,2
42,A-258412,2,02/07/2021 11:33,02/07/2021 14:27,34.055504,-118.198421,34.054847,-118.210943,0.718,Stationary traffic from exit [19C] to I-10 W d...,...,False,Day,Day,Day,Day,2021-07-02 11:33:00,2021-07-02 14:27:00,2021,7,3

In [32]:
len (i10W_counts)

264

In [33]:
i10W_counts.groupby('Month')['Distance(mi)'].mean() # the monthly average traffic distance caused by accidents on I-10 W

Month
3     1.293857
4     0.878538
5     1.444667
6     1.716323
7     1.762930
8     1.158593
9     0.997857
10    0.739931
11    0.619977
12    1.673610
Name: Distance(mi), dtype: float64